@model MyBudget.App.Commands.User.LoginUserCommand

@{
    ViewBag.Title = "Logowanie";
    Layout = "_Layout";
}
<form class="register" asp-controller="User" asp-action="Login">
    <input type="text" class="text-field" placeholder="Login" asp-for="Username"/>
    <span asp-validation-for="Username"></span>
    <input type="password" class="text-field" placeholder="Hasło" asp-for="Password"/>
    <span asp-validation-for="Password"></span>
    <span>@ViewBag.Error</span>
    <button type="submit">Zaloguj się!</button>
    @Html.ActionLink("Nie masz konta? Zarestruj się!", "RegisterForm", "User")
</form>

