@model MyBudget.App.Commands.User.RegisterUserCommand

<form class="register" asp-action="Register">
       <input type="text" 
              asp-for="Username" 
              id="username" 
              placeholder="Username" 
              class="text-field"/>
       <span asp-validation-for="Username"></span>
    <input type="password" 
           asp-for="Password" 
           id="password" 
           placeholder="Password" 
           class="text-field"/>
    <input type="password" 
           asp-for="RepeatPassword" 
           id="repeat-password" 
           placeholder="Repeat password" 
           class="text-field"/>
    <button type="submit" value="Register">Register</button>
</form>